html,body {
    font-family: 'Open Sans';
    font-size: 16px;
    padding:0;
    margin:0;
}
body {
    display:none;
    overflow: hidden;
    &.is-loaded {
        display:block;
    }
}
canvas {
    position: fixed;
    z-index: 0;
    pointer-events: none;
    top: 0;
    left: 0;
}