.wrg.story
    <div id="app">
    <section>
        <div class="slider">
        <div class="first-slider">
            <div class="slider-section">
            <div class="slider-image-wrapper">
                <img class="slider-image" src="https://source.unsplash.com/1600x900/?nature,water"alt=""/>
                <h2 class="slider-title">Title 1</h2>
            </div>
            </div>
            <div class="slider-section">
            <div class="slider-image-wrapper">
                <img class="slider-image" src="https://source.unsplash.com/1600x900/?nature,water" alt="" />
                <h2 class="slider-title">Title 2</h2>
            </div>
            </div>
        </div>
        <div class="second-slider">
            <div class="slider-section">
            <div class="slider-image-wrapper">
                <img class="slider-image" src="https://source.unsplash.com/1600x900/?nature,water" alt="" />
                <h2 class="slider-title">Title 1</h2>
            </div>
            </div>
            <div class="slider-section">
            <div class="slider-image-wrapper">
                <img class="slider-image" src="https://source.unsplash.com/1600x900/?nature,water" alt="" />
                <h2 class="slider-title">Title 2</h2>
            </div>
            </div>
        </div>
        </div>
    </section>
    </div>